<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website Background Color Selector</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        transition: background-color 0.5s;
      }
      button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
      }
      one {
        align-items: center;
      }
    </style>
  </head>

  <body>
    <div id="one">
      <h1>Website background Color Selector</h1>
      <button id="colorChangeBtn">Change Background Color</button>
      <button id="newButton">Get color code</button>
    </div>
    <script>
      const colorChangeBtn = document.getElementById("colorChangeBtn");
      const colors = [
        "#9d8f50",
        "#9d2350",
        "#382350",
        "#38e9e2",
        "#6a5acd",
        "#ffa500",
        "#ee82ee",
        "#3cb371",
        "#0000ff",
        "#ff0000",
        "#ff9999",
        "#99ff99",
        "#9999ff",
        "#ffff99",
        "#ff99ff",
      ];

      let currentColorIndex = 0;
      const newButton = document.getElementById("newButton");

      colorChangeBtn.addEventListener("click", () => {
        document.body.style.backgroundColor = colors[currentColorIndex];
        currentColorIndex = (currentColorIndex + 1) % colors.length;
        document.getElementById("newButton").innerHTML =
          colors[currentColorIndex];

        // newButton.addEventListener
        //   ("click", () =>
        //     {
        //       // document.body.style.backgroundColor = "colors[currentColorIndex]";
        //       // alert(`The current background color is ${document.body.style.backgroundColor}`);
        //       document.getElementById("newButton").innerHTML=colors[currentColorIndex];
        //     }
        //   );
      });
    </script>
  </body>
</html>
